*{
padding: 0%;
margin: 0%;
background-image: ur;
}
html,body{
   height: 100%; 
   
}
body{
  background-image: linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)), url(pic/Banff\ Helicopter\ Elopement\ Photographers\ _\ Film\ &\ Forest\ Photography\ \(1\).jpeg);
  background-color: ;
  background-repeat: no-repeat;
}
.header{
  
z-index: 1;
  
}
.logo{
width: 100%;
margin-top: 19px;
font-family: 'Alkatra', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Satisfy', cursive;
margin-left: 23px;
font-size: larger;
}
.nav-bar{
  background-color: rgb(194, 195, 202);
  border-radius: 6px;
  padding: 2px;
  display: block;
  position: fixed;
top: 0%;
  width: 100%;
z-index: 1000;
  
}
.nav-bar li{
  list-style: none;
  margin: 23px 27px;
}
.nav-bar ul{
  
}
.nav-bar li a{
  padding: 3px 3px;
  text-decoration: none;
  color: rgb(31, 30, 30);
}
.nav-bar li a:hover{
  background-color: rgb(63, 49, 88);
  color: white;
  border-radius: 25px;
  padding: 8px 9px;
  }
.nav-bar li a:active{
opacity: 0.5;

}
.search{
  color: black;
  padding: 12px 25px;
  border-radius: 25px;
  border: none;
}
.nav-bar input{
  border: 2px solid rgb(250, 247, 247);
  padding: 3px 17px;
  width: 129px;
}
.lift{
  float: left;
  align-items: center;
  display: flex;
}
.center{
  display: inline-block;
  
}

.center ul{
  display: flex;
  
}
.center a.active{
    background-color: #197571;
    color: white;
  border-radius: 6px;
  
}
.right{
  float: right;
  margin-top: 23px;
  display: flex;
  flex: ;
}
.sec1{
  margin-top: 0%;
  padding: 13px;
  border-radius: 10px;
  display: inline-block;
color: beige;
background-color: rgb(70, 67, 67);
float: right;
width: 200px;
}
.co{
  font-family: 'Alkatra', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Satisfy', cursive;
margin-left: 23px;
font-size: larger;
text-align: center;

}
.pr{
margin: 12px;
background-color: grey;
padding: 9px;
border-radius: 12px;
}
#content
{ 
left: 32px;
  text-align: left;
  
  padding: 12px;
  background-color: #E5E5DB;
color: black;
margin-right: 22px;
border-radius: 12px;
margin-top: 23px;

}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.sr{
  text-align: center;
  line-height: 1.8;
  text-transform: capitalize;
  font-family: 'Alkatra', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Satisfy', cursive;
}
  #site_content
{ 

  margin: 50px;
  padding: 10px 20px 30px 20px;
  background: #d0d0da url(back.png) repeat-y;
  border: 15px solid #e2dddd;
}
#site_content .ar-conteiner{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
  gap: 27px;
  
  
}
#site_content .ar-conteiner .main{
  box-sizing: border-box;
  box-shadow: 0 5px  10px rgba(0, 0, 0, 2);
  border-radius: 5px;
  background: rgb(155, 148, 160);
  text-align: center;
  padding: 30px 20px;

}
#site_content .ar-conteiner .main:hover{
  box-shadow: 0 0 0 rgba(0, 5px, 10px, 3);
  transform: scale(1.04);
}
#site_content .ar-conteiner .main{
  
}
.main>img{
  width: 100px;
  height: 200px;
  border-radius: 20px;
}
@media(max-width: 768px;){
  #site_content .body
padding: 20px;
}
    
  
  .fa{
    margin: 3px;
    padding-top: 12px;
 padding: 1px,1px,1px,1px;
    font-size: 17px;
    width: 50px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 12.5px;
    color: rgb(243, 240, 236);
  }
  .fa-facebook:hover{
    background-color: rgb(66 ,103 ,178);
  color: white;
  }
  .fa-instagram:hover{
    background-color: rgb(180, 65, 65);
  color: white;
  }
  .fa-twitter:hover {
    background-color: rgb(29 ,161, 242);
    color: white;
  }
  .im .card{
    box-sizing: border-box;
  box-shadow: 0 5px  10px rgba(0, 0, 0, 2);
  border-radius: 5px;
  text-align: center;
  padding: 30px 20px;
  align-items: center;
  }
  .im{
    margin-right: 24px;
    margin-left: 234px;
  }
  .card{
display: inline-block;
margin: 29px;


  }
  .nme{
    text-align: center;
   
  }

 footer{
  color: rgb(252, 250, 250);
  padding: 19px;
  text-align: center;
  background-color: #3B3B3B;

 }
 .ftr{
  color:  rgb(211, 208, 208);
  text-decoration: none;
  list-style: none;
 }